/*GENERAL*/
.horizontalLine {
    height: 1px;
    border: none;
    background-color: #ccc;
}

section {
    margin-bottom: 4rem;
}

.redBtn {
    border-radius: 0px;
    border: 0px;
    background-color: #cf0000;
}

.yellowBtn {
    background-color: #fcd500;
    border: 0px;
}

.redBtnFrame {
    border-radius: 2px;
    border: 1px solid #cf0000;
    background-color: #fff;
    color: #cf0000;
}

/*TOP*/
.top a {
    color: #666;
    font-size: 12px;
    text-decoration: none;    
}

.top a:hover {
    text-decoration: underline;
}

/*COOKIE*/
.cookie .holder {
    background-color: #eee;
    color:#407ab1;
}

.cookie .holder a {
    font-weight: bold;
}

/*MENU*/
.menu .navbar{
    background-color:#005da9;
}

.menu .navbar .submit a {
    margin-left: -2.5rem;
    padding: 0.45rem;
    width: 2.5rem;
}

.menu .navbar .navbar-brand img {
    height: 25px;
}

.menu .navbar .nav-item a {
    color: #fff;
}

.menu .navbar a.dropdown-item {
    color: #212529;
}

/*SLIDER*/
.slider .carousel-caption {
    background:rgba(0,0,0,0.3);
}

/*PRODUCTS*/   

.productSlider .carousel-control-prev-icon {
    background-image: url("../images/arrow.svg");
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.productSlider .carousel-control-next-icon {
    background-image: url("../images/arrow.svg");
}

.productSlider .carousel-control-prev {
    left: -90px;
}

.productSlider .carousel-control-next {
    right:-90px;
}

@media (max-width: 768px) {
    .productSlider .carousel-control-prev, .productSlider .carousel-control-next {
        display: none;
    }
}

.productSlider .card-img-top {
    padding: 1.25rem;
}

.productSlider .card .title {
    font-size: 18px;
}
.productSlider .card .desc {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
}
.productSlider .card .price {
    font-size: 24px;
}

.productSlider .card p {
    margin-bottom: 0px;
}

.info .col-xs-12 .holder {
    border: 2px solid #e1e1e1;
    background-color: #F6F6F6;
    padding: 2rem;
}

.bottomSection .icon {
    height: 40px;
}

/*MEMBERS*/
.members .orangeTitle {
    color: #ee723c;
}

.members .blueTitle {
    color: #116bb3;
}

/*SERVICES*/
.services i, .services svg {
    color: #005da9;
}

/*FOOTER*/

.footer {
    background-color: #005da9;
    color: #fcd500;
}

.footer .logo img {
    width: 200px;
}

.footer .links a {
    color: #fcd500;
    text-decoration: underline;
}

.footer .links a:hover {
    text-decoration: none;
}

.footer .holder {
    padding: 30px 0px 30px;
}

.footer .socialMedia div {
    margin: 10px 0px;
}

.footer .socialMedia .icons img {
    width: 40px;
}

/*SCROLL*/
#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fcd500;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
  }
  
  #topBtn:hover {
    background-color: #fcd500;
    color: #005da9;
  }